#title-logo {
  font-family: $brand-font;
  color: black;
  flex-grow: 1;
  &:hover {
    cursor: pointer;
  }
}

.nav-container {
  background-color: white !important;
  padding: 1em 2em;
  margin-bottom: 0.5em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}

//Burger Nav
.burger-nav {
  display: flex;
  align-items: flex-end;
  .burger-icon {
    color: $brand-color;
    font-size: 30px;
  }
}

@media only screen and (max-width: 370px) {
  .burger-nav {
    height: 56px;
  }
}

// Bottom Nav
.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $bg-color;

  .Mui-selected {
    color: $brand-color;
    .icon {
      color: $brand-color;
      text-shadow: 0 10px 10px;
    }
  }
}
