//=======================
//   Vertical Cards
//=======================
.card-vertical {
  display: flex;
  height: 17em;
  align-items: flex-end;
  margin: 5%;

  .card {
    width: 12em;
    height: 15em;
    border-radius: 20px;
  }

  .avatar {
    height: 8rem;
    width: 8rem;
    top: -30px;
    left: 15%;
  }

  .card-content {
    bottom: 0;
    margin-bottom: 2px;
  }

  .card-text {
    @include heading-sm;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
      font-size: 100%;
    }
  }

  .MuiCard-root {
    overflow: visible;
  }
}

//=======================
//   Horicontal Cards
//=======================

.horizontal-card {
  display: flex;
  align-items: center;
  border-radius: 20px !important;
  height: 9em;
  width: 100%;

  .avatar {
    height: 100px;
    width: 100px;
    margin-left: 2%;
  }

  p {
    font-size: 80%;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
