//Headings
@mixin heading-lg {
  font-family: $body-font;
  color: black;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}

//Brand Buttons
@mixin brand-button-lg {
  background: $brand-color;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
}
