//Headings
@mixin heading-lg {
  font-family: $body-font;
  color: black;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
}

@mixin heading-sm {
  font-family: $body-font;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

//Brand Buttons
@mixin brand-button-lg {
  background: $brand-color;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
}

@mixin secondary-btn {
  background-color: white;
  border-radius: 20px;
  padding: 1em 1.5em;
  display: block;
  margin: 1em auto;
  text-align: inherit;
}

@mixin flex-space-bw {
  display: flex;
  justify-content: space-between;
}

@mixin blue-font {
  color: $brand-color;
}