//Brand Buttons

@mixin brand-button-lg {
  background: $brand-color;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
}

@mixin secondary-btn {
  background-color: white;
  border-radius: 20px;
  padding: 1em 1.5em;
  display: block;
  margin: 1em auto;
  text-align: inherit;
}

@mixin flex-space-bw {
  display: flex;
  justify-content: space-between;
}

@mixin blue-font {
  color: $brand-color;
}