
#title-logo {
  font-family: $brand-font;
  color: black;
  flex-grow: 1;
  &:hover {
    cursor: pointer;
  }
}

.nav-container {
  background-color: white !important;
  padding: 1em 2em;
  margin-bottom: 0.5em;
} 

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}