.search-results {
  .top-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // .divider {
    //   height: auto;
    //   margin: 4;
    //   margin-right: 10px;
    // }
  }
}
