.chosen-list-item {
  .cancel-icon {
    display: none;
  }

  overflow-y: scroll;
  max-height: 40vh;
}

.chosen-list-item:hover {
  .cancel-icon {
    display: block;
    color: $brand-color;
  }
}
