//Google Fonts - Raleway & Chewy
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway&display=swap');

//Colors
$brand-color: #81e8ff;
$bg-color: #F2F2F2;

//Fonts
$brand-font: 'Chewy', cursive;
$body-font: 'Raleway', sans-serif;
