.welcome-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);

  .landing-title {
    height: 30vh;
    display: flex;
    align-items: center;

    h1 {
      @include heading-lg;
    }
  }

  //Suggested Whisks
  .suggested-whisks {
    display: flex;
    flex-direction: column;

    //Tabs
    .tabs {
      margin-top: 3%;
      margin-bottom: 3%;
    }
  }

  /* Extra small devices (phones, 600px and down) */
  //MEDIA QUERIES HERE ARE INCOMPATIBLE BETWEEN SMALLEST VIEW (IPHONE5) & Large view, often only one or the other works
  @media only screen and (max-width: 370px) {
    justify-content: space-evenly;

    .landing-title {
      height: 12vh;
      h1 {
        font-size: 2em;
      }
    }
    .search {
      height: 7vh;
    }
    .suggested-whisks {
      height: 60vh;

      .vertical-scroll {
        display: none;
      }
    }

    #horiz-grid {
      align-items: flex-end;
    }
  }

  @media only screen and (max-width: 599px) {
    justify-content: space-evenly;

    .landing-title {
      height: 20vh;
      h1 {
        font-size: 2em;
      }
    }
    .search {
      height: 8vh;
    }
    .suggested-whisks {
      height: 50vh;

      .vertical-scroll {
        display: none;
      }
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 600px) {
    .landing-title {
      height: 20vh;
    }
    .suggested-whisks {
      .horiz-scroll {
        display: none;
      }
    }
  }
}

//Search
.search {
  display: flex;
  justify-content: center;
  //margin: 2%;

  .search-bar {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    background-color: $accent-gray;

    .input {
      flex: 1;
    }

    .iconbutton {
      padding: 10;
    }
  }
}

.hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('https://images.unsplash.com/photo-1588285210516-0ad37ef7f09e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: -0.5em;

  .text-container {
    padding: 0 3em;
  }

  h4 {
    padding: 3em 0 1em 0;
    font-weight: bold;
  }

  Button {
    @include brand-button-lg;
    width: 25%;
    margin: 1.5em 10px;
  }

  #register {
    @include btn-outline;
  }
}

.main-container {
  text-align: center;
  padding: 3em 0em;
  hr {
    width: 50%;
    border: 2px solid #E4E4E4;
  }

  

}


.border{
  padding-left: 25%;
  padding-right: 25%;


  .details {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;

  .text {
    padding-top: 5%;
    width: 45%;
    height: 20vh;
  }
  img {
    width: 300px;
    height: 550px;
  }

  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    color: #3BB9D4;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  }
}

@media only screen and (max-width: 900px) { 
  .border{
    text-align: center;
    
    .reverse {
      flex-direction: column-reverse !important;
      
    }
   
    .details {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: auto;
      
      .text {
       width: 100%;
       padding-bottom: 50%;
      }

      .text

      .img {
        padding-top: 5%;
      };

    }
  }
  

}
