.welcome-page {
  // Button {
  //   @include brand-button-lg;
  // }

  .sticky-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .icon {
    color: $brand-color;
  }

  .Mui-selected {
    color: $brand-color;
  }
}

#title-logo {
  font-family: $brand-font;
}
