.whisk-details {
  .top-nav {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;

    .icon {
      color: $brand-color;
    }
  }

  .image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;

    .avatar-img {
      height: 12em;
      width: 12em;
    }

    .browser-carousel-div {
      width: 100%;
      height: 60vh;
      max-height: 60vh;

      .browser-carousel-img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .info {
    .whisk-title {
      text-align: center;
      margin-bottom: 5%;
    }

    .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 5%;

      .detail {
        text-align: center;
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;

    .choose-whisk {
      @include brand-button-lg;
      width: 75%;
      margin: 5%;
    }
  }
}
