@import 'variables';
@import 'mixins';
@import 'welcome';
@import 'amplify';
@import 'userprofile';
@import 'nav';

body {
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: black;
}