@import 'variables';
@import 'mixins';
@import 'welcome';
@import 'whiskDetails';
@import 'searchResults';
@import 'login';
@import 'amplify';
@import 'userprofile';
@import 'nav';
@import 'cards';
@import 'userWhisks';
@import 'match';

body {
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

.blue-font {
  @include blue-font;
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
  svg {
    &:hover {
      cursor: pointer;
    }
  }
}


