@import 'variables';
@import 'mixins';
@import 'welcome';
@import 'whiskDetails';
@import 'searchResults';
@import 'login';
@import 'amplify';
@import 'userprofile';
@import 'nav';
@import 'cards';
@import 'userWhisks';

body {
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: black;
}

.blue-font {
  @include blue-font;
}
