@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Raleway&display=swap");
.welcome-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  /* Extra small devices (phones, 600px and down) */
  /* Medium devices (landscape tablets, 768px and up) */
}
.welcome-page .landing-title {
  height: 30vh;
  display: flex;
  align-items: center;
}
.welcome-page .landing-title h1 {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
}
.welcome-page .suggested-whisks {
  display: flex;
  flex-direction: column;
}
.welcome-page .suggested-whisks .tabs {
  margin-top: 3%;
  margin-bottom: 3%;
}
@media only screen and (max-width: 370px) {
  .welcome-page {
    justify-content: space-evenly;
  }
  .welcome-page .landing-title {
    height: 12vh;
  }
  .welcome-page .landing-title h1 {
    font-size: 2em;
  }
  .welcome-page .search {
    height: 7vh;
  }
  .welcome-page .suggested-whisks {
    height: 60vh;
  }
  .welcome-page .suggested-whisks .vertical-scroll {
    display: none;
  }
  .welcome-page #horiz-grid {
    align-items: flex-end;
  }
}
@media only screen and (max-width: 599px) {
  .welcome-page {
    justify-content: space-evenly;
  }
  .welcome-page .landing-title {
    height: 20vh;
  }
  .welcome-page .landing-title h1 {
    font-size: 2em;
  }
  .welcome-page .search {
    height: 8vh;
  }
  .welcome-page .suggested-whisks {
    height: 50vh;
  }
  .welcome-page .suggested-whisks .vertical-scroll {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .welcome-page .landing-title {
    height: 20vh;
  }
  .welcome-page .suggested-whisks .horiz-scroll {
    display: none;
  }
}

.search {
  display: flex;
  justify-content: center;
}
.search .search-bar {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  background-color: #e3e2e2;
}
.search .search-bar .input {
  flex: 1;
}
.search .search-bar .iconbutton {
  padding: 10;
}

.hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://images.unsplash.com/photo-1588285210516-0ad37ef7f09e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: -0.5em;
}
.hero-background .text-container {
  padding: 0 3em;
}
.hero-background h4 {
  padding: 3em 0 1em 0;
  font-weight: bold;
}
.hero-background Button {
  background: #00d1ff;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  width: 25%;
  margin: 1.5em 10px;
}
.hero-background #register {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
}

.main-container {
  text-align: center;
  padding: 3em 0em;
}

.whisk-details .top-nav {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.whisk-details .top-nav .icon {
  color: #00d1ff;
}
.whisk-details .image-gallery {
  display: flex;
  justify-content: center;
}
.whisk-details .image-gallery .avatar-img {
  height: 12em;
  width: 12em;
}
.whisk-details .image-gallery .browser-carousel-div {
  width: 100%;
  height: 60vh;
  max-height: 60vh;
}
.whisk-details .image-gallery .browser-carousel-div .browser-carousel-img {
  max-width: 100%;
  max-height: 100%;
}
.whisk-details .info .whisk-title {
  text-align: center;
  margin-bottom: 5%;
}
.whisk-details .info .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
}
.whisk-details .info .details .detail {
  text-align: center;
}
.whisk-details .button {
  display: flex;
  justify-content: center;
}
.whisk-details .button .choose-whisk {
  background: #00d1ff;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  padding: 1em 1.5em;
  width: 75%;
  margin: 5%;
}

.search-results .top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.search-results .top-nav .search {
  width: 100%;
}
.search-results .results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#card-root {
  text-align: center;
  margin: auto 2em;
  background-color: transparent;
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
}
#card-root .submit-btn {
  background: #00d1ff;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  width: 50%;
  margin-top: 3em;
}

:root {
  --amplify-primary-color: #81e8ff;
  --amplify-primary-tint: #81e8ff;
  --amplify-primary-shade: #81e8ff;
  --amplify-font-family: $body-font;
}

amplify-authenticator {
  --border-radius: 30px;
  --box-shadow: none;
}

.sign-in-form-footer amplify-button button {
  border-radius: 30px;
}

.profile-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.profile-page Button {
  background-color: white;
  border-radius: 20px;
  padding: 1em 1.5em;
  display: block;
  margin: 1em auto;
  text-align: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#action-btn {
  background: #00d1ff;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 1em 1.5em;
}

.about-card {
  background-color: white;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  padding: 20px;
  text-align: left;
}

#display-photo {
  width: 10em;
  height: 10em;
}
#display-photo:hover {
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.text-field {
  width: 100%;
  margin: 0.5em 0 !important;
}

form {
  text-align: center;
}
form .submit-btn {
  background: #00d1ff;
  color: white;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  font-weight: bold;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 3em;
}

@media (max-width: 768px) {
  #display-photo {
    width: 5em;
    height: 5em;
  }
}
#title-logo {
  font-family: "Chewy", cursive;
  color: black;
  flex-grow: 1;
}
#title-logo:hover {
  cursor: pointer;
}

.nav-container {
  background-color: white !important;
  padding: 1em 2em;
  margin-bottom: 0.5em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}

.burger-nav {
  display: flex;
  align-items: flex-end;
}
.burger-nav .burger-icon {
  color: #00d1ff;
  font-size: 30px;
}

@media only screen and (max-width: 370px) {
  .burger-nav {
    height: 56px;
  }
}
.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
}
.bottom-nav .Mui-selected {
  color: #00d1ff;
}
.bottom-nav .Mui-selected .icon {
  color: #00d1ff;
  text-shadow: 0 10px 10px;
}

.card-vertical {
  display: flex;
  height: 17em;
  align-items: flex-end;
  margin: 5%;
}
.card-vertical .card {
  height: 15em;
  width: 12em;
  border-radius: 20px;
}
.card-vertical .card .avatar {
  top: -30px;
  left: 1.5rem;
  width: 120px;
  height: 120px;
}
.card-vertical .card-content {
  bottom: 0;
  margin-bottom: 2px;
}
.card-vertical .card-text {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .card-vertical .card-text {
    font-size: 100%;
  }
}
.card-vertical .MuiCard-root {
  overflow: visible;
}

@media only screen and (max-width: 370px) {
  .card-vertical {
    height: 10em;
  }
  .card-vertical .card {
    height: 12em;
    width: 12em;
  }
  .card-vertical .card .avatar {
    height: 95px;
    width: 95px;
  }
}
.vertical-scroll {
  margin-bottom: 10%;
}
.vertical-scroll .v-card-vertical {
  height: 20em;
  display: flex;
  align-items: flex-end;
}
.vertical-scroll .v-card-vertical .v-avatar {
  top: 70px;
  width: 140px;
  height: 140px;
  left: 2em;
}
.vertical-scroll .v-card-vertical .v-card {
  height: 14em;
  width: 13em;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
}
.vertical-scroll .v-card-vertical .v-card-content {
  bottom: 0;
  margin-bottom: 2px;
}
.vertical-scroll .v-card-vertical .v-card-text {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .vertical-scroll .v-card-vertical .v-card-text {
    font-size: 100%;
  }
}
.vertical-scroll .v-card-vertical .MuiCard-root {
  overflow: visible;
}
@media only screen and (max-width: 600px) {
  .vertical-scroll .v-card-vertical {
    height: 17em;
  }
  .vertical-scroll .v-card-vertical .card {
    width: 12em;
  }
  .vertical-scroll .v-card-vertical .avatar {
    height: 8rem;
    width: 8rem;
    top: -30px;
    left: 15%;
  }
}

.horizontal-card {
  display: flex;
  align-items: center;
  border-radius: 20px !important;
  height: 9em;
  width: 100%;
}
.horizontal-card .avatar {
  height: 100px;
  width: 100px;
  margin-left: 2%;
}
.horizontal-card p {
  font-size: 80%;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chosen-list-item .cancel-icon {
  display: none;
}

.chosen-list-item:hover .cancel-icon {
  display: block;
  color: #00d1ff;
}

#full-profile-match-pic {
  width: 100%;
  height: 100%;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.match .heading {
  text-align: center;
}

#match-avatars {
  display: none;
  text-align: center;
}
#match-avatars h2 {
  margin-bottom: 1%;
}

.center {
  display: flex;
  justify-content: center;
}

.match-info,
.whisk-info {
  height: 40%;
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.match-info #match-pic {
  height: 10em;
  width: 7em;
  border-radius: 20px;
}
.match-info #view-profile-button {
  align-self: flex-end;
  margin-right: 5%;
}

.img-grid-container {
  display: flex;
  justify-content: center;
}

#whisk-pic {
  height: 7em;
  width: 7em;
}

.messaging {
  height: 100%;
  margin-top: 5%;
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
}
.messaging .messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.messaging .messages .msg-sent,
.messaging .messages .msg-received {
  width: 70%;
}
.messaging .messages .msg-sent .msg-text,
.messaging .messages .msg-received .msg-text {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 14px;
}
.messaging .messages .msg-sent {
  align-self: flex-end;
}
.messaging .messages .msg-sent .msg-text {
  background-color: #00d1ff;
}
.messaging .messages .msg-received {
  align-self: flex-start;
}
.messaging .messages .msg-received .msg-text {
  background-color: #e3e2e2;
}
.messaging .message-input {
  margin-bottom: 1%;
}
.messaging .message-input .message-form {
  align-items: center;
}
.messaging .message-input .input {
  width: 100%;
  background-color: #e3e2e2;
  border-radius: 20px;
  padding-left: 12px;
}

@media (max-width: 992px) {
  #whisk-pic {
    width: 6em;
    height: 6em;
  }

  .match-info #match-pic {
    width: 6em;
    height: 6em;
  }
}
@media (max-width: 768px) {
  #match-page {
    height: 100vh;
  }

  .MuiGrid-container {
    height: 100%;
  }

  .MuiGrid-item {
    width: 100%;
  }

  #match-avatars {
    display: block;
  }

  #match-cards {
    display: none;
  }

  .match {
    height: 100%;
  }

  .messaging {
    width: 100%;
  }
}
#Q-container {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#Q-container form {
  text-align: left;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

.blue-font {
  color: #00d1ff;
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
}
.close-wrapper svg:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
