// PROFILE MODAL //
#full-profile-match-pic {
  width: 100%;
  height: 100%;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  .heading {
    text-align: center;
  }
}

// MATCH AVATARS //

#match-avatars {
  display: none;
  text-align: center;

  h2 {
    margin-bottom: 1%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

// MATCH CARDS //

.match-info,
.whisk-info {
  height: 40%;
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.match-info {
  #match-pic {
    height: 10em;
    width: 7em;
    border-radius: 20px;
  }

  #view-profile-button {
    align-self: flex-end;
    margin-right: 5%;
  }
}

.img-grid-container {
  display: flex;
  justify-content: center;
}

#whisk-pic {
  height: 7em;
  width: 7em;
}

// MESSAGING //

.messaging {
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;

  .messages {
    max-height: 70vh;
    overflow: auto;

    .msg-sent,
    .msg-received {
      width: 70%;

      .msg-text {
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 14px;
      }
    }

    .msg-sent {
      align-self: flex-end;

      .msg-text {
        background-color: $brand-color;
      }
    }

    .msg-received {
      align-self: flex-start;
      .msg-text {
        background-color: $accent-gray;
      }
    }
  }

  .message-input {
    margin-bottom: 1%;

    .message-form {
      align-items: center;
    }

    .input {
      width: 100%;
      background-color: $accent-gray;
      border-radius: 20px;
      padding-left: 12px;
    }
  }
}

@media (max-width: 992px) {
  #whisk-pic {
    width: 6em;
    height: 6em;
  }

  .match-info #match-pic {
    width: 6em;
    height: 6em;
  }
}

@media (max-width: 768px) {
  #match-page {
    height: 100vh;
    .MuiGrid-container {
      height: 100%;
    }
    .MuiGrid-item {
      width: 100%;
    }
  }
  #match-avatars {
    display: block;
  }
  #match-cards {
    display: none;
  }
  .match {
    height: 100%;
  }
  .messaging {
    width: 100%;
  }
}
