//Google Fonts - Raleway & Chewy
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway&display=swap');

//Colors
// $brand-color: #81e8ff;
$brand-color: #00d1ff;
$bg-color: #f2f2f2;
$accent-gray: #e3e2e2;

//Fonts
$brand-font: 'Chewy', cursive;
$body-font: 'Raleway', sans-serif;
